@page "/opteller"

<PageTitle>Opteller</PageTitle>

<h1>Opteller</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Add @incrementAmount</button>

@code {
    private int currentCount = 0;
    private int incrementAmount = 14;

    private void IncrementCount()
    {
        currentCount += incrementAmount;
    }
}
